.settings {
  accent-color: var(--color-text);
  margin: 0 auto;
  max-width: var(--form-width);
  overflow: hidden;
}

.settings summary {
  font-size: var(--font-size-m);
  text-transform: uppercase;
}

.settings section {
  margin-top: var(--space-m);
}
.settings__radio-text {
  display: none;
}

input:checked + label + div {
  display: block;
}