.timer__button {
  background-color: var(--color-text);
  border: none;
  color: var(--color-background);
  flex-basis: 50%;
  flex-grow: 1;
  margin-bottom:  var(--space-l);
  padding: var(--space-m);
  text-transform: uppercase;
}

.timer__controls {
  display: flex;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
}

.timer__input,
.timer__display {
  transition: border var(--timing-fast) ease-in;
  display: block;
  font-size: var(--font-size-l);
  margin-top: var(--space-s);
  width: 10ch;
}

.timer__display {
  border-bottom: solid 2px transparent;
  padding: 1px 0;
}

.timer__input {
  background: var(--color-background);
  border: none;
  border-bottom: solid 2px var(--color-text);
}

.timer__input:focus {
  /* border-bottom-color: var(--color-accent-1); */
  outline: none;
  transition: border var(--timing-fast) ease-in;
}

.timer__label {
  border: solid 2px var(--color-text);
  display: block;
  padding: var(--space-m);
  margin-bottom: var(--space-m);
  text-transform: uppercase;
  transition: opacity var(--timing-medium) var(--timing-function),
    border-color var(--timing-medium) var(--timing-function);
}

.playing {
  &:not(.dark) .timer__label--break,
  &.dark .timer__label--work {
    border-color: transparent;
    opacity: 0.4;
  }
}
