<form class="timer">
  <label class="timer__label">
    Work duration
    <input value="2" type="number" name="workDuration" />
  </label>
  <label class="timer__label">
    Break duration
    <input value="1" type="number" name="breakDuration" />
  </label>
  <button type="submit" class="timer__play">Play</button>
  <button type="reset" class="timer__stop">Stop</button>
</form>
