<!DOCTYPE html>
<html lang="en">
  {% render 'head', description: description, meta: meta, page: page, title: title %}
  <body class="page-container">
    {% render 'ie-notice' %}
    {% render 'skip-to-content' %}
      <div>
        <main id="main">
          {{ content }}
        </main>
      </div>
    </div>
  </body>
</html>